@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../../src/**/*.{ts,tsx,astro}";

@font-face {
  font-family: "ABC Otto";
  src: url("/fonts/ABCOtto-Regular-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABC Otto";
  src: url("/fonts/ABCOtto-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ABC Otto";
  src: url("/fonts/ABCOtto-RegularItalic-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ABC Otto";
  src: url("/fonts/ABCOtto-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FZShengSKSJW";
  src: url("/fonts/FZShengSKSJW_Zhun.TTF") format("truetype");
  font-weight: normal;
  unicode-range: U+4E00- U+9FFF;
}

@theme {
  --font-abc-otto-kai: "ABC Otto", "FZShengSKSJW", serif;
  --color-fangchunjia-pink: #ff008f;
  --color-fangchunjia-green: #5eff00;
  --color-fangchunjia-gray: #cdcdcd;
  --color-fangchunjia-black: #000000;
  --color-fangchunjia-translucent: #ffffff1a;
  --color-fangchunjia-lightgray: #eeeeee;
  --media-s-w-max: 160px;
  --media-s-h-max: 160px;
  --media-m-w-max: 160px;
  --media-m-h-max: 160px;
  --media-l-w-max: 160px;
  --media-l-h-max: 160px;
  --media-spacing: 40px;
  --section-top-spacing: 112px;
}

@layer base {
  ::selection {
    @apply bg-fangchunjia-pink text-white;
  }
  * {
    @apply font-abc-otto-kai;
    font-feature-settings: "lnum" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}
